<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>UI/UX Design Gallery</string>
				<key>CreatedDate</key>
				<date>2015-02-16T21:38:23Z</date>
				<key>ID</key>
				<string>page5</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>UI/UX Mockups</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.2.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>ftp://bell.chillidoghosting.com</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-04-27T20:30:22Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.php</key>
							<dict>
								<key>Digest</key>
								<data>
								T6rbsHq/bAme
								3A2CSfBvLQ==
								</data>
								<key>Size</key>
								<integer>32287</integer>
							</dict>
							<key>index_files/stacks_page_page5.css</key>
							<dict>
								<key>Digest</key>
								<data>
								h/5AsBfSahiJ
								Vb1/oU6qVg==
								</data>
								<key>Size</key>
								<integer>115513</integer>
							</dict>
							<key>index_files/stacks_page_page5.js</key>
							<dict>
								<key>Digest</key>
								<data>
								tw9OMeH8TRqI
								Je0pcytliw==
								</data>
								<key>Size</key>
								<integer>127316</integer>
							</dict>
							<key>index_files/stacks_page_page5.php</key>
							<dict>
								<key>Digest</key>
								<data>
								fL5jbTuHiQSj
								3alpSYk1ow==
								</data>
								<key>Size</key>
								<integer>20</integer>
							</dict>
							<key>index_files/thumbOverride_3087046.png</key>
							<dict>
								<key>Digest</key>
								<data>
								whOlyi5ErR95
								uvfG6Fti3w==
								</data>
								<key>Size</key>
								<integer>46934</integer>
							</dict>
							<key>index_files/thumbOverride_3087051.png</key>
							<dict>
								<key>Digest</key>
								<data>
								30aY0+v75+V8
								UL3GAeeY+w==
								</data>
								<key>Size</key>
								<integer>68069</integer>
							</dict>
							<key>index_files/thumbOverride_3087056.png</key>
							<dict>
								<key>Digest</key>
								<data>
								kkCY8fzvUnRM
								z/tSh0xWTw==
								</data>
								<key>Size</key>
								<integer>97311</integer>
							</dict>
							<key>index_files/thumbOverride_3087061.png</key>
							<dict>
								<key>Digest</key>
								<data>
								rwpXy2iMHHZr
								RyCxVdXEmg==
								</data>
								<key>Size</key>
								<integer>39272</integer>
							</dict>
							<key>index_files/thumbOverride_3087066.png</key>
							<dict>
								<key>Digest</key>
								<data>
								9K7wbmDjS3BH
								TnxVU1l6IQ==
								</data>
								<key>Size</key>
								<integer>34544</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string>Projects/UIUXmockups</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
