<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Kids Switcheroo Gallery</string>
				<key>CreatedDate</key>
				<date>2015-02-16T21:38:23Z</date>
				<key>ID</key>
				<string>page8</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Kids Switcheroo</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.2.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>ftp://bell.chillidoghosting.com</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-04-16T22:17:30Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.php</key>
							<dict>
								<key>Digest</key>
								<data>
								mSsvJQIMzMpO
								smzjzMgnqw==
								</data>
								<key>Size</key>
								<integer>109348</integer>
							</dict>
							<key>index_files/stacks_page_page8.css</key>
							<dict>
								<key>Digest</key>
								<data>
								uWwCe7NuNvbz
								Ag9lGOGorQ==
								</data>
								<key>Size</key>
								<integer>380105</integer>
							</dict>
							<key>index_files/stacks_page_page8.js</key>
							<dict>
								<key>Digest</key>
								<data>
								sw1y/CPp57Rt
								kqPYE6Ck/Q==
								</data>
								<key>Size</key>
								<integer>219040</integer>
							</dict>
							<key>index_files/stacks_page_page8.php</key>
							<dict>
								<key>Digest</key>
								<data>
								fL5jbTuHiQSj
								3alpSYk1ow==
								</data>
								<key>Size</key>
								<integer>20</integer>
							</dict>
							<key>index_files/thumbOverride_3086726.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Zh1XPebzxULP
								QW00pR1xIA==
								</data>
								<key>Size</key>
								<integer>127715</integer>
							</dict>
							<key>index_files/thumbOverride_3086731.png</key>
							<dict>
								<key>Digest</key>
								<data>
								78eQO8x113VC
								oGN2vml5ZA==
								</data>
								<key>Size</key>
								<integer>46877</integer>
							</dict>
							<key>index_files/thumbOverride_3086736.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uWXbJQLxgtI9
								OoeZR3B1tw==
								</data>
								<key>Size</key>
								<integer>41612</integer>
							</dict>
							<key>index_files/thumbOverride_3086741.png</key>
							<dict>
								<key>Digest</key>
								<data>
								7lJO9jBbGJ8U
								T8tbA0sSSQ==
								</data>
								<key>Size</key>
								<integer>38427</integer>
							</dict>
							<key>index_files/thumbOverride_3086746.png</key>
							<dict>
								<key>Digest</key>
								<data>
								MVmYcAOucecB
								UlMd/Kg/Yw==
								</data>
								<key>Size</key>
								<integer>93650</integer>
							</dict>
							<key>index_files/thumbOverride_3086751.png</key>
							<dict>
								<key>Digest</key>
								<data>
								RlIR8Z138t7x
								rGYj7zU9TQ==
								</data>
								<key>Size</key>
								<integer>120131</integer>
							</dict>
							<key>index_files/thumbOverride_3086756.png</key>
							<dict>
								<key>Digest</key>
								<data>
								PVuonj779x6k
								GOjlfgChTg==
								</data>
								<key>Size</key>
								<integer>36290</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page8</string>
						<key>SiteRoot</key>
						<string>Projects/kidsSwitcheroo</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
