<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>About Page</string>
				<key>CreatedDate</key>
				<date>2015-02-16T21:38:23Z</date>
				<key>ID</key>
				<string>page21</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>About</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.2.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>ftp://bell.chillidoghosting.com</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-04-26T19:39:07Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.php</key>
							<dict>
								<key>Digest</key>
								<data>
								6w6tE347VB2J
								S5MVucJsCg==
								</data>
								<key>Size</key>
								<integer>51948</integer>
							</dict>
							<key>index_files/stacks-image-09e6a3c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I9t7DP5ssyXO
								RnNtY+x8tw==
								</data>
								<key>Size</key>
								<integer>571650</integer>
							</dict>
							<key>index_files/stacks-image-188db68.png</key>
							<dict>
								<key>Digest</key>
								<data>
								I9t7DP5ssyXO
								RnNtY+x8tw==
								</data>
								<key>Size</key>
								<integer>571650</integer>
							</dict>
							<key>index_files/stacks-image-42f2afa-1044x1200.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								pZyv77BF9nVJ
								1or4xodQLQ==
								</data>
								<key>Size</key>
								<integer>326162</integer>
							</dict>
							<key>index_files/stacks-image-4d5451d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ha4enLaeRHoh
								b3wDHqOpNA==
								</data>
								<key>Size</key>
								<integer>443373</integer>
							</dict>
							<key>index_files/stacks-image-7402ed5.png</key>
							<dict>
								<key>Digest</key>
								<data>
								++JOO7RcYfs4
								dUefsZtbJg==
								</data>
								<key>Size</key>
								<integer>248143</integer>
							</dict>
							<key>index_files/stacks-image-75b6599.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ha4enLaeRHoh
								b3wDHqOpNA==
								</data>
								<key>Size</key>
								<integer>443373</integer>
							</dict>
							<key>index_files/stacks-image-853004d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								++JOO7RcYfs4
								dUefsZtbJg==
								</data>
								<key>Size</key>
								<integer>248143</integer>
							</dict>
							<key>index_files/stacks-image-8611f67.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zSq2ziYcamkk
								YFCGdwjC8w==
								</data>
								<key>Size</key>
								<integer>14971</integer>
							</dict>
							<key>index_files/stacks-image-92f7ccf.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Qi0B+JhSOXfc
								b9CW8NCy2w==
								</data>
								<key>Size</key>
								<integer>15412</integer>
							</dict>
							<key>index_files/stacks-image-f78955c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								fJg30zPb+4ho
								4x4entEvZg==
								</data>
								<key>Size</key>
								<integer>19351</integer>
							</dict>
							<key>index_files/stacks_page_page21.css</key>
							<dict>
								<key>Digest</key>
								<data>
								h3oCFdceI02q
								VrIUTZ/hIw==
								</data>
								<key>Size</key>
								<integer>121056</integer>
							</dict>
							<key>index_files/stacks_page_page21.js</key>
							<dict>
								<key>Digest</key>
								<data>
								oqa97nQD0uOC
								wFWIKA0xhg==
								</data>
								<key>Size</key>
								<integer>66970</integer>
							</dict>
							<key>index_files/stacks_page_page21.php</key>
							<dict>
								<key>Digest</key>
								<data>
								fL5jbTuHiQSj
								3alpSYk1ow==
								</data>
								<key>Size</key>
								<integer>20</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page21</string>
						<key>SiteRoot</key>
						<string>About</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
