<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Sing and Trace Gallery</string>
				<key>CreatedDate</key>
				<date>2015-02-16T21:38:23Z</date>
				<key>ID</key>
				<string>page9</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Sing and Trace</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.2.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>ftp://bell.chillidoghosting.com</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-05-09T15:05:09Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.php</key>
							<dict>
								<key>Digest</key>
								<data>
								elJNqCaPvBqR
								ZgXS11uKdw==
								</data>
								<key>Size</key>
								<integer>49088</integer>
							</dict>
							<key>index_files/stacks_page_page9.css</key>
							<dict>
								<key>Digest</key>
								<data>
								15bAf3dzSdpx
								Dgk8ahXS/w==
								</data>
								<key>Size</key>
								<integer>142836</integer>
							</dict>
							<key>index_files/stacks_page_page9.js</key>
							<dict>
								<key>Digest</key>
								<data>
								+EQvDfo57qSU
								GzIDsYbovA==
								</data>
								<key>Size</key>
								<integer>127317</integer>
							</dict>
							<key>index_files/stacks_page_page9.php</key>
							<dict>
								<key>Digest</key>
								<data>
								fL5jbTuHiQSj
								3alpSYk1ow==
								</data>
								<key>Size</key>
								<integer>20</integer>
							</dict>
							<key>index_files/thumbOverride_3086726.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VnPEZM9O+CbG
								57AqIRDt6Q==
								</data>
								<key>Size</key>
								<integer>90068</integer>
							</dict>
							<key>index_files/thumbOverride_3086731.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pYhL1GMMd5D6
								TLuFNMBw3A==
								</data>
								<key>Size</key>
								<integer>69301</integer>
							</dict>
							<key>index_files/thumbOverride_3086738.png</key>
							<dict>
								<key>Digest</key>
								<data>
								BI6vB5czGL6w
								SJ17eStEdw==
								</data>
								<key>Size</key>
								<integer>62309</integer>
							</dict>
							<key>index_files/thumbOverride_3086745.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Pz+K3+XToT62
								U10BYnCJ+A==
								</data>
								<key>Size</key>
								<integer>90257</integer>
							</dict>
							<key>index_files/thumbOverride_3086750.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1h7Zcbi3LPOi
								Dw4XkyMPBQ==
								</data>
								<key>Size</key>
								<integer>107256</integer>
							</dict>
							<key>index_files/thumbOverride_3086755.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CY579o0v8JbA
								LszKipzlew==
								</data>
								<key>Size</key>
								<integer>90970</integer>
							</dict>
							<key>index_files/thumbOverride_3086760.png</key>
							<dict>
								<key>Digest</key>
								<data>
								lR8g5c4Dr3NI
								kZUgjqUIKA==
								</data>
								<key>Size</key>
								<integer>84889</integer>
							</dict>
							<key>index_files/thumbOverride_3086765.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UXvUizXLb34b
								KEs+Aapdgw==
								</data>
								<key>Size</key>
								<integer>45908</integer>
							</dict>
							<key>index_files/thumbOverride_3086770.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FLpcTjQRGcyq
								sStn6Kh+7A==
								</data>
								<key>Size</key>
								<integer>61773</integer>
							</dict>
							<key>index_files/thumbOverride_3086775.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ErAipAkaEE6a
								AJN0w55ZUA==
								</data>
								<key>Size</key>
								<integer>87851</integer>
							</dict>
							<key>index_files/thumbOverride_3086780.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0LFlJ4LaWLTQ
								xvfG0TdZmg==
								</data>
								<key>Size</key>
								<integer>71180</integer>
							</dict>
							<key>index_files/thumbOverride_3086785.png</key>
							<dict>
								<key>Digest</key>
								<data>
								uT3qF+fxbyov
								drqDyBg7AA==
								</data>
								<key>Size</key>
								<integer>291304</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page9</string>
						<key>SiteRoot</key>
						<string>Projects/singAndTrace</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
