<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Blocbox Gallery</string>
				<key>CreatedDate</key>
				<date>2015-02-16T21:38:23Z</date>
				<key>ID</key>
				<string>page4</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blocbox</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.2.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>ftp://bell.chillidoghosting.com</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-04-16T22:17:30Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.php</key>
							<dict>
								<key>Digest</key>
								<data>
								7aR9x1O0hXMH
								FBOSW6RwtA==
								</data>
								<key>Size</key>
								<integer>37205</integer>
							</dict>
							<key>index_files/stacks_page_page4.css</key>
							<dict>
								<key>Digest</key>
								<data>
								XQUUDjvgrvHI
								lvaUbC9UMg==
								</data>
								<key>Size</key>
								<integer>124845</integer>
							</dict>
							<key>index_files/stacks_page_page4.js</key>
							<dict>
								<key>Digest</key>
								<data>
								fpISwjMwkN93
								MCHcp12O0A==
								</data>
								<key>Size</key>
								<integer>127216</integer>
							</dict>
							<key>index_files/stacks_page_page4.php</key>
							<dict>
								<key>Digest</key>
								<data>
								fL5jbTuHiQSj
								3alpSYk1ow==
								</data>
								<key>Size</key>
								<integer>20</integer>
							</dict>
							<key>index_files/thumbOverride_3086726.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Zhk9mgLPJvWa
								HvAg0BWjLw==
								</data>
								<key>Size</key>
								<integer>120424</integer>
							</dict>
							<key>index_files/thumbOverride_3086731.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								AnQVTajFGV2j
								FqtA1fK2rA==
								</data>
								<key>Size</key>
								<integer>68094</integer>
							</dict>
							<key>index_files/thumbOverride_3086738.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								SyBkQi+jfFTY
								f9A44ngfNQ==
								</data>
								<key>Size</key>
								<integer>46140</integer>
							</dict>
							<key>index_files/thumbOverride_3086745.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								a7PfnF4fXJ+O
								WnAbaurp1Q==
								</data>
								<key>Size</key>
								<integer>54809</integer>
							</dict>
							<key>index_files/thumbOverride_3086750.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								1c1+SzQwa363
								rgwA5/NF+Q==
								</data>
								<key>Size</key>
								<integer>101093</integer>
							</dict>
							<key>index_files/thumbOverride_3086755.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								IpLQ/elSto+e
								7Dh/+46pTQ==
								</data>
								<key>Size</key>
								<integer>99181</integer>
							</dict>
							<key>index_files/thumbOverride_3086911.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								n1OazqdZk7R3
								WzpGCcLD7w==
								</data>
								<key>Size</key>
								<integer>58780</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page4</string>
						<key>SiteRoot</key>
						<string>Projects/blocbox</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
