<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>fretShapes Project Page</string>
				<key>CreatedDate</key>
				<date>2015-02-16T21:38:23Z</date>
				<key>ID</key>
				<string>page15</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>fretShapes</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.2.7</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>ftp://bell.chillidoghosting.com</key>
					<dict>
						<key>CreationDate</key>
						<date>2017-04-16T22:17:30Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>index.php</key>
							<dict>
								<key>Digest</key>
								<data>
								a48WOC5nImPB
								nyqD8p290w==
								</data>
								<key>Size</key>
								<integer>25119</integer>
							</dict>
							<key>index_files/iframeviewporticon.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JuZ0toLWM1Kf
								9rRBlxy4sg==
								</data>
								<key>Size</key>
								<integer>5961</integer>
							</dict>
							<key>index_files/stacks_page_page15.css</key>
							<dict>
								<key>Digest</key>
								<data>
								1aVmT54umX1C
								Z58AZkG0+A==
								</data>
								<key>Size</key>
								<integer>85394</integer>
							</dict>
							<key>index_files/stacks_page_page15.js</key>
							<dict>
								<key>Digest</key>
								<data>
								UbeQECGvVM59
								0WIEZ+07ew==
								</data>
								<key>Size</key>
								<integer>62054</integer>
							</dict>
							<key>index_files/stacks_page_page15.php</key>
							<dict>
								<key>Digest</key>
								<data>
								fL5jbTuHiQSj
								3alpSYk1ow==
								</data>
								<key>Size</key>
								<integer>20</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page15</string>
						<key>SiteRoot</key>
						<string>Projects/fretShapes</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
